<% if message.group_message == current_group %>
<div class="event">
  <div class="content">
    <div class="summary">
      <em><%=message.user.username %></em>:  <%= message.body %>
    </div>
  </div>  
</div>
<% end %>