<% if message.group_message == current_group %>
<div class="event">
  <div class="content">
    <div class="summary">
      <% if message.initiate %>
        <i><%= message.body %></i>
      <% else %>
      <em><img src="https://robohash.org/<%=message.user.username.downcase %>" style= "width:30px;height:30px;"><%=message.user.username %></em>:  <%= message.body %>
      <% end %>
    </div>
  </div>  
</div>
<% end %>