<table class="ui celled table">
  <thead>
    <tr><th>Username</th>
    <th>Email</th>
    <th>Joined date</th>
  </tr></thead>
  <tbody>
  <% @users.each do |u| %>
    <tr>
      <td data-label="Username"> <%=link_to u.username , user_path(u.username.downcase)%>  </td>
      <td data-label="Email"> <%= u.email%> </td>
      <td data-label="Joined date">  <%= u.created_at.strftime("%d of %B, %Y")%> </td>
    </tr>
  <% end %>
  </tbody>
</table>