@import "semantic-ui";
.chatbox{
  height: 420px;
}
#messages{
  height: 15em;
  overflow: auto;
}
#group-display{
  height: 40em;
  overflow: auto;
}
.input{
  button{
    display: none;
  }
}
#area{
  height: 1em;
}
#friendlist{
  height: 10em;
  width: 10em;
}
