<%flash.each do |type, msg| %>
  <div class="ui <%= type == "success" ? "success" : "error" %> message transition">
    <i class="close icon"></i>
    <div class="header">
      <%= msg%>
    </div>
  </div>
<% end %>